.textarea-container {
    width: 100%;
    position: relative;
}

/* Container containing line-numbering, textarea, list of files */
#editor {
    margin-top: 20px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    max-width: 780px;
    line-height: 21px;
}

/* Textarea field responsible for typing the text */
#editor-content {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

#editor-field {
    line-height: 21px;
    font-size: 1rem;
    padding-left: 5px;
    border: 0;
    background: #f1f1f1;
    outline: none;
    resize: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

#editor-field.dragover {
    background: #eaeaea;
    filter: blur(3px);
}

#editor-field::placeholder {
    color: #000;
    opacity: 0.5;
}

/* Container that displays the line numbers in the code editor. */
#line-numbers {
  background: #2b2b2b;
  width: 23px;
  padding: 0 15px;
  height: 100%;
  line-height: 21px;
}

/* Each span is responsbile for 1 line number field */
#line-numbers span {
  counter-increment: linenumber; /* Increment the counter */
  display: flex; 
  align-items: center;
  justify-content: center;
}

#line-numbers span::before {
  content: counter(linenumber); /* Display the counter */
  color: #fff;
}

/* Container that appears when a file is dragged over the textarea. */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    pointer-events: none;
}

#overlay.hidden {
    display: none;
}

#file-navigator {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
    gap: 1%;
}

#file-selector {
    width: 92%;
}

#file-selector ul {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-bottom: 10px;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
}

#file-selector li {
    min-width: 150px;
    font-size: 1rem;
    position: relative;
    text-align: center;
    flex-grow: 1;
    padding: 10px 30px 10px 15px;
    border-right: 1px solid #ccc;
    background-color: #fff; /* white background for non-active tabs */
    color: #2b2b2b; /* black text for non-active tabs */
    transition: background-color 0.3s ease, color 0.3s ease;
    overflow: hidden; /* Ensure that the content is clipped */
    text-overflow: ellipsis; /* Use an ellipsis to indicate overflow */
    white-space: nowrap; /* Prevent text from wrapping onto the next line */
}

#file-selector li:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

#file-selector li.active {
    background-color: #2b2b2b; /* black background for active tab */
    color: #fff; /* white text for active tab */
    transition: background-color 0.3s ease, color 0.3s ease;
}

#file-selector li button {
    padding: 5px;
    font-size: 1.2rem;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: none;
    color: inherit;
    border: none;
}

/* Delete tab button*/
#file-selector li button:hover {
    transform: scale(1.3);
    color: rgb(203, 35, 35);
    transition: transform 0.3s ease color 0.3s ease;
    cursor: pointer;
}

#create-new-file {
    border: none; /* Remove default border */
    border-left: 1px solid #2b2b2b;
    background: none;
    width: 7%;
    margin-bottom: 10px;
}

#create-new-file:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

#create-new-file img {
    padding: 0;
    margin: 0;
    width: 80%;
}