*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-component {
    transition: all 0.3s ease;
    position: relative;
    padding: 15px;
    border-radius: 5%;
    border: 3px dashed #000;
}

.main-component:hover {
    transform: translateY(-2px) scale(1.01);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-component p {
    margin-top: 5px;
    max-width: max-content;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid #000; /* The typwriter cursor */
    /* add typing & typewriter cursor effect */
    animation: typing 2s steps(40, end) forwards, blink-caret .75s step-end 2s infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000; }
}

.editor {
    margin-top: 20px;
    font-family: monospace;
    display: flex;
    max-height: 400px;
    line-height: 21px;
    overflow: auto;
}

#editor-field {
    line-height: 21px;
    font-size: 1rem;
    padding-left: 5px;
    border: 0;
    background: #f1f1f1;
    outline: none;
    resize: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

#editor-field::placeholder {
    color: #000;
    opacity: 0.5;
}

#line-numbers {
  background: #2b2b2b;
  width: 23px;
  padding: 0 15px;
  height: 100%;
  line-height: 21px;
}

#line-numbers span {
  counter-increment: linenumber;
  display: flex; 
  align-items: center;
  justify-content: center;
}

#line-numbers span::before {
  content: counter(linenumber);
  color: #fff;
}