!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore Gradle project-specific cache directory
backend/.gradle

# Ignore Gradle build output directory
backend/build
backend/bin/*
backend/src/main/resources/static
backend/src/main/resources/templates
backend/src/main/resources/secrets.properties
backend/src/main/resources/secrets.properties-prod
backend/src/main/resources/gemini-api.json
# Ignore IDE specific settings
.vscode

# Ignore Mac specific files
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Frontend ###
frontend/node_modules/
frontend/public/build/