# Ignore Gradle project-specific cache directory
backend/.gradle

# Ignore Gradle build output directory
backend/build
backend/bin/*

# Ignore IDE specific settings
.vscode

# Ignore Mac specific files
.DS_Store
