:root {
  --dark-cerulean: #004d78;
  --white: #ffffff;
  --maastricht-blue: #00263c;
  --hippie-blue: #4c82a0;
  --silver: #c5c5c5;
  --whisper: #ececec;
  --grey85: #d9d9d9;
  --black: #000000;
  --silver-dark: #bebebe;
  --grey43: #6e6e6e;
  --white-smoke: #f1f1f1;
  --periwinkle: #bfcdff;
  --pale-navy: #D9E1FF;
  --blue-bell:#98a2c6;
  --jordy-blue: #9aaeff;
  --spindle: #abb8e5;
  --grey56: #8f8f8f;
  --ubuntu-mono: "Ubuntu Mono", monospace;
  --egg-white: #FFF1BF;
  --light-dark:#aaaaaa;
  --bittersweet: #FF6363;
  --mandy: #e55959;
  --mercury: #E9E9E9;
  --medium-sea-green: #3CB371;
  --dodger-blue: #2f80ed;
  --strong-blue: #1366d6;
  --ghost-white:#f4f4f5;
  
}

body {
  margin: 0 auto;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 48px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.button--default {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
}

.button--blue {
  border-radius: 5px;
  width: 100%;
  height: 30px;
  border: #000 1px solid;
  font-family: "Rubik", sans-serif;
  background-color: var(--periwinkle);
  box-shadow:  0px 8px 8px 0px rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

.button--blue:hover {
  cursor: pointer;
  background-color: var(--spindle);
}

.loader {
    width: 10px;
    margin: 0;
    padding: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--dark-cerulean);
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
