:root {
  --dark-cerulean: #004d78;
  --white: #ffffff;
  --maastricht-blue: #00263c;
  --hippie-blue: #4c82a0;
  --silver: #c5c5c5;
  --whisper: #ececec;
  --grey85: #d9d9d9;
  --black: #000000;
  --silver-dark: #bebebe;
  --grey43: #6e6e6e;
  --white-smoke: #f1f1f1;
  --periwinkle: #bfcdff;
  --spindle: #abb8e5;
  --grey56: #8f8f8f;
  --ubuntu-mono: "Ubuntu Mono", monospace;
  --egg-white: #FFF1BF;
  --light-dark:#aaaaaa;
}

body {
  margin: 0 auto;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 48px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.button--default {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
}

.button--blue {
  border-radius: 5px;
  width: 100%;
  height: 30px;
  border: #000 1px solid;
  font-family: "Rubik", sans-serif;
  background-color: var(--periwinkle);
  box-shadow:  0px 8px 8px 0px rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

.button--blue:hover {
  cursor: pointer;
  background-color: var(--spindle); 
}
